@using Csharp_Seat_Booking_System.Models;
@{
    ViewData["Title"] = "Events";
    Event[] Events = (Event[])ViewData["Events"];
    
}

@foreach (var EventHappening in Events)
{
<a>
<div class="btn btn-primary eventView" id="eventView">
<img src=@EventHappening.ImgSrc />
<h2>@EventHappening.EventName</h2>
<p>@EventHappening.EventDescription</p>
</div>
</a>
}
    </div>
}