@{
    ViewData["Title"] = "Registeration";
}

<div class="text-center">
    <div class="form-group">
        <h2>Company Registeration</h2>
        <p>Register your company to start selling tickets.</p>
        <form>
            
        </form>
    </div>
</div>