@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
    <div class="form-group">
        <h2>User Registeration</h2>
        <p>Login to your user or buisness account</p>

    </div>
</div>