@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
    <div class="form-group">
        <h2>User Login</h2>
        <p>Login to your user or business account</p>

    </div>
</div>

<div class="text-center">
    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="UserLogin"><i class="fas fa-user-plus"></i>Login as a User</a>
     <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="CompanyLogin"><i class="fas fa-briefcase"></i>Login as a Business</a>
</div>