@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
    <div class="form-group">
        <h2>User Registeration</h2>
        <p>Login to your user or buisness account</p>
        <form>
            <label><i class="fas fa-user"></i>Email</label>
            <input type="email" name="email" placeholder="Enter Email address" />
            <br />
            <label><i class="fas fa-unlock-alt"></i>Password</label>
            <input type="password" name="password" placeholder="Enter Password" />
            <br />
            <input type="submit" value="Login">
        </form>
    </div>
</div>