@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="UserRegister"><i class="fas fa-user-plus"></i>Register as a User</a>
     <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="CompanyRegister"><i class="fas fa-briefcase"></i>Register as a Buisness</a>
</div>