@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img class="banner" src="https://www.nti-audio.com/portals/0/pics/en/Teaser-Cinema-1200-500.jpg" />
</div>
