@{
    ViewData["Title"] = "Payment Failed";
}

<div class="text-center">
    <div class="form-group">
       <div class="alert alert-danger" role="alert">
        <h2><b>Payment Failed</b></h2>
        <p>Unfortunately your payment could not be processed at this time </p>
       </div>

    </div>
</div>