@{
    ViewData["Title"] = "View Cart";
}

<div class="text-center">
    <div>
        <span>
            <i class='fas fa-shopping-cart far-left' style='font-size:100px;color:black'></i>
            <h2 class="far-right">View Cart</h2>
        </span>
        <p>Will that be all for today?</p>
        <table>
            <td>
                @* <h4>@ViewData["FullName"]</h4>
                <h4>@ViewData["EventName"]</h4>
         *@
    </div>
</div>